.Form {
  display: grid;
}

.label {
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  font-size: larger;
}

input {
  font-size: larger;
  line-height: 2.2rem;
  border-radius: 5px;
  margin-bottom: 0.6rem;
}

.mybutton {
  border-radius: 5px;
  transition: background-color 300ms;
}

/* .mybutton:hover {
  border: px solid black;
  background-color: rgba(0, 0, 0, 0.6);
} */

.Movie-titles {
  font-size: larger;
}

@media (min-width: 786px) {
  .Form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }
  input {
    margin-bottom: 0;
  }
  .card-meta2 {
    display: none !important;
  }
}

@media (max-width: 786px) {
  .Form {
    padding: 30px;
    align-items: center;
  }
  .card-meta1 {
    display: none !important;
  }
  .movie-date {
    align-items: flex-end;
  }
  .text-center {
    padding-top: 5px;
  }
}
